body 
{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar 
{
    display: flex;
    align-items: center;
    padding: 15px 25px;
    background: #fff;
    border-bottom: 1px solid #ddd;
}

.navbar .logo 
{
    color: #00aaff;
    font-size: 22px;
    font-weight: bold;
    margin-right: 30px;
    margin-left: 5px;
}

.navbar a 
{
    margin-right: 20px;
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.login-btn 
{
    background: #00aaff;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 15px;
    margin-left: auto;
}

.cart
{
    width: 22px;
    height: 22px;
    object-fit: contain;
    margin-left: 15px;
}

.cart-logo
{
    width: 35px;
    height: 35px;
    object-fit: contain;
    margin-left: 15px;
}



.dropdown 
{
    position: relative;
}

.dropbtn 
{
    background: none;
    border: none;
    font-size: 15px;;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.arrow {
    font-size: 18px;
}

.dropdown-content {
    position: absolute;
    top: 45px;
    left: 0;
    width: 180px;
    background: #f2f2f2;
    border-radius: 6px;
    display: none;
    flex-direction: column;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

.dropdown-content .item {
    padding: 10px 12px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.dropdown-content .item:hover {
    background: #e6e6e6;
}

.show {
    display: flex;
}
.dropdown:hover .dropdown-content {
    display: flex;
}



.sort-container {
    position: relative;
    cursor: pointer;
    margin-left: 15px;
}

.sort-title {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 18px;
    font-weight: 500;
}

.sort-dropdown {
    position: absolute;
    top: 30px;
    left: 0;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
    display: none;
    flex-direction: column;
    width: 180px;
    padding: 8px 0;
}

.sort-item {
    padding: 10px 15px;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.sort-item:hover {
    background-color: #f5f5f5;
}

.icon {
    width: 18px;
    height: 18px;
}

.arrow {
    font-size: 14px;
    transition: transform 0.3s;
}

.show-sort {
    display: flex !important;
}

h2 
{
    text-align: center;
    margin-bottom: 30px;
}

h3 
{
    text-align: center;
    margin-TOP: 5px;
}

.row 
{
    width: 100%;
    display: flex 
}

.card 
{
    width: 30%;
    margin: 3%;
    padding: 15px;
    border: 1px solid #ccc;
    text-align: center;
}

.product-img 
{
    width: 100%;
    height: 200px;
    object-fit: contain;
}
.product-img7
{
    width: 100%;
    height: 200px;
    object-fit: contain;
}
.stock 
{
    color: gray;
    font-size: 14px;
}

.stars 
{
    color: gold;
    font-size: 40px;
    margin: 5px;
}

.price {
    font-weight: bold;
    margin-top: 10px;
}







.footer 
{
    background: #00aaff;
    color: white;
    padding: 20px 20px;
    margin-top: 200px;
}

.footer-container 
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section 
{
    width: 22%;
    min-width: 200px;
    margin-bottom: 20px;
}

.footer-section h3 
{
    margin-bottom: 10px;
    font-size: 18px;
}

.footer-section p 
{
    margin: 5px 0;
    font-size: 14px;
}

.footer-section a 
{
    display: block;
    color: white;
    text-decoration: none;
    font-size: 14px;
    margin: 3px;
}

.footer-section img 
{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}