body 
{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar 
{
    display: flex;
    align-items: center;
    padding: 15px 25px;
    background: #fff;
    border-bottom: 1px solid #ddd;
}

.navbar .logo 
{
    color: #00aaff;
    font-size: 22px;
    font-weight: bold;
    margin-right: 30px;
    margin-left: 5px;
}

.navbar a 
{
    margin-right: 20px;
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.login-btn 
{
    background: #00aaff;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 15px;
    margin-left: auto;
}

.cart
{
    width: 22px;
    height: 22px;
    object-fit: contain;
    margin-left: 15px;
}

.cart-logo
{
    width: 35px;
    height: 35px;
    object-fit: contain;
    margin-left: 15px;
}

.dropdown 
{
    position: relative;
}

.dropbtn 
{
    background: none;
    border: none;
    font-size: 15px;;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.arrow {
    font-size: 18px;
}

.dropdown-content {
    position: absolute;
    top: 45px;
    left: 0;
    width: 180px;
    background: #f2f2f2;
    border-radius: 6px;
    display: none;
    flex-direction: column;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

.dropdown-content .item {
    padding: 10px 12px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.dropdown-content .item:hover {
    background: #e6e6e6;
}

.show {
    display: flex;
}
.dropdown:hover .dropdown-content {
    display: flex;
}

.cart-container 
{
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}


.cart-actions 
{
    margin-bottom: 20px;
}

.continue-shopping 
{
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
    font-weight: 500;
    background-color: #007bff; 
    color: white;
}

.save-for-later 
{
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
    font-weight: 500;
    background-color: #007bff; 
    color: white;
}


.cart-content 
{
    display: flex;
    gap: 30px;
}

.product-list 
{
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}


.list-header 
{
    display: flex;
    padding: 10px ;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    font-weight: bold;
}

.col-product 
{ 
    margin-right: 50px; 
}
.col-quantity 
{ 
    margin-right: 15px; 
}
.col-price 
{ 
    margin-right: 15px; 
}
.col-subtotal 
{ 
    margin-right: 15px;
}

.cart-item 
{
    display: flex;
    align-items: center;
    padding: 15px;
}

.product-info 
{
    display: flex;
}

.product-image 
{
    width: 60px;
    height: 60px;
    object-fit: contain;
    border: 1px solid #eee;
    padding: 5px;
}



.product-name 
{
    font-weight: bold;
    margin-bottom: 5px;
}

.remove-btn 
{
    background: none;
    border: none;
    color: #999;
    font-size: 14px;
    padding: 0;
}

.quantity-input {
    display: flex;
    justify-content: center;
    border: 1px solid #ccc;
    width: 80px;
}

.quantity-input input {
    width: 30px;
    text-align: center;
    border: none;
    outline: none;
    background-color: #fff;
    font-weight: bold;
    padding: 5px 0;
}

.qty-btn {
    background-color: #f0f0f0;
    border: none;
    padding: 5px;
    cursor: pointer;
    font-weight: bold;
    width: 25px;
}

.product-subtotal {
    font-weight: bold;
}


.cart-summary {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    height: fit-content;
}

.cart-summary h3 {
    font-size: 20px;
    margin-bottom: 15px;
}

.summary-line {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid #eee;
}

.summary-line.total {
    font-weight: bold;
    font-size: 18px;
    border-bottom: none; 
    padding-top: 15px;
}

.checkout-btn {
    width: 100%;
    background-color: #007bff;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
    font-weight: bold;
}


.footer 
{
    background: #00aaff;
    color: white;
    padding: 20px 20px;
    margin-top: 200px;
}

.footer-container 
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section 
{
    width: 22%;
    min-width: 200px;
    margin-bottom: 20px;
}

.footer-section h3 
{
    margin-bottom: 10px;
    font-size: 18px;
}

.footer-section p 
{
    margin: 5px 0;
    font-size: 14px;
}

.footer-section a 
{
    display: block;
    color: white;
    text-decoration: none;
    font-size: 14px;
    margin: 3px;
}

.footer-section img 
{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}