body 
{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar 
{
    display: flex;
    align-items: center;
    padding: 15px 25px;
    background: #fff;
    border-bottom: 1px solid #ddd;
}

.navbar .logo 
{
    color: #00aaff;
    font-size: 22px;
    font-weight: bold;
    margin-right: 30px;
    margin-left: 5px;
}

.navbar a 
{
    margin-right: 20px;
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.login-btn 
{
    background: #00aaff;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 15px;
    margin-left: auto;
}

.cart
{
    width: 22px;
    height: 22px;
    object-fit: contain;
    margin-left: 15px;
}

.cart-logo
{
    width: 35px;
    height: 35px;
    object-fit: contain;
    margin-left: 15px;
}

.container 
{
    padding: 40px;
}

.products 
{
    display: flex;
    gap: 40px;
    margin-top: 40px;
}


.item img 
{
    width: 150px;
    height: 200px;
}

.footer 
{
    background: #00aaff;
    color: white;
    padding: 20px 20px;
    margin-top: 200px;
}

.footer-container 
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section 
{
    width: 22%;
    min-width: 200px;
    margin-bottom: 20px;
}

.footer-section h3 
{
    margin-bottom: 10px;
    font-size: 18px;
}

.footer-section p 
{
    margin: 5px 0;
    font-size: 14px;
}

.footer-section a 
{
    display: block;
    color: white;
    text-decoration: none;
    font-size: 14px;
    margin: 3px;
}

.footer-section img 
{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
